.vs/
CopilotIndices/
copilot-chat/
cache-lossy.txt
/.vs/Pen website/FileContentIndex/33784968-8891-4d54-9001-dd26e8ae0f9e.vsidx
/.vs/Pen website/FileContentIndex/e0196a8c-2c60-4528-8aa3-b76eb9b66ac3.vsidx
