body {
    font-family: "Sansation";
    font-weight: bold;
    background: linear-gradient(to bottom, #2c3e50, #1a1a1a);
    background-repeat: no-repeat;
    background-color: #fafafa;
    background-attachment: scroll;
    background-size: cover;
    text-transform: capitalize;
    color: #b0c7df;
    font-size: 18px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: #1c2e41;
    color: #808080;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
}

label[for="sign"] {
    text-align: center;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #113d69;
}

input[type="email"] {
    margin-left: 42px;
}

label[for="un"],
label[for="mail"],
label[for="pass"],
label[for="add"],
label[for="con"] {
    margin-right: 10px;
}

.header {
    letter-spacing: 1.5px;
    font-size: 50px;
    text-align: center;
}

.heading p {
    word-spacing: 2px;
}

hr {
    border: solid 2px #c47800;
}

h2, h3, h4 {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.circuits, transistors {
    margin-top: -24px;
}

.Pn,
.Half,
.Diode {
    display: inline-block;
    float: left;
    width: calc((100% - 335px) / 3);
    margin-left: 90px;
    margin-top: 4px;
    margin-bottom: 5px;
    border-radius: 7px;
    position: relative;
    background-color: #1c2e41;
    box-shadow: 6px 4.5px 6px 2.5px #000;
    box-sizing: border-box;
}

.bjt,
.mosfet {
    display: inline-block;
    float: left;
    width: calc((100% - 700px) / 2);
    margin-left: 230px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 7px;
    position: relative;
    background-color: #1c2e41;
    box-shadow: 6px 4.5px 6px 2.5px #000;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.PN_img,
.Half_img,
.Diode_img,
.bjt_img,
.mosfet_img {
    border: 4px solid #000;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

del {
    color: #2c3e50;
}

hr {
    margin-bottom: 27px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover {
        color: #c47800;
    }

.link {
    padding-right: 20px;
    margin-left: 24px;
    display: inline-block;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
}

    .link:hover {
        transform: scale(1.1);
    }

    .link::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 50%;
        left: -15px;
        margin-top: -5px;
        background-color: transparent;
        border: solid transparent;
        border-width: 5px 0 5px 11px; /* arrow shape */
        border-left-color: #000; /* arrow color */
    }

ul {
    list-style-type: square;
    text-align: left;
    margin-top: 5px;
}

.price {
    margin-top: 20px;
    margin-left: 9px;
}

input[type="submit"], input[type="reset"] {
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer;
    color: #c47800;
    border: 1px solid #c47800;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover {
        border: 3px solid;
        border-radius: 2px;
        border-radius: 8px;
        color: #000;
    }

input[type="number"] {
    width: 30%;
    height: 25px;
    padding: 5px 5px;
    margin: 5px;
    border: solid 2px #000;
    border-radius: 8px;
    outline: none;
}

label[for="order1"],
label[for="order2"], label[for="order3"],
label[for="order4"],
label[for="order5"] {
    margin-left: 6px;
    font-weight: bold;
    font-size: 18px;
}

.social {
    text-align: center;
}

.contact-icon {
    font-size: 25px;
    color: #fafafa;
    text-decoration: none;
    margin: 0 4px;
}

    .contact-icon .bi-envelope-at-fill {
        color: red;
        display: inline-block;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }

    .contact-icon:hover .bi-envelope-at-fill {
        transform: scale(1.5);
    }

    .contact-icon .bi-facebook {
        color: #011dbe;
        display: inline-block;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }

    .contact-icon:hover .bi-facebook {
        transform: scale(1.5);
    }

#backtop {
    position: fixed;
    color: #000;
    background: #ffffff;
    font-weight: inherit;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    border: solid 2px #113d69;
    border-radius: 8px;
    box-shadow: 2px 1.5px 2.5px 1.5px #113d69;
    opacity: 0.7;
    transition: background 0.3s;
}