body {
    font-family: "Sansation";
    font-weight: bold;
    background-image: url("../images/electro.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-transform: capitalize;
}

::selection {
    background-color: #000;
    color: #ffcc00;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
}

h2, h3, h4 {
    text-shadow: 2.5px 1.5px 2px #836600;
    color: #000;
}

.header,
.hock {
    letter-spacing: 1.5px;
    text-align: center;
    color: #000;
    text-shadow: 2.5px 3px 2px #836600;
}

.heading p {
    word-spacing: 2px;
}

.circuits h2 {
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 4px #836600;
    margin-top: 20px;
}

.circuits {
    background-image: url("../images/electro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -24px;
}

.Pn,
.Half,
.Diode {
    display: inline-block;
    float: left;
    width: calc((100% - 360px) / 3);
    margin-left: 90px;
    border-radius: 6px;
    position: relative;
}

.clear {
    clear: both;
}

.PN_img,
.Half_img,
.Diode_img {
    width: 290px;
    height: 190px;
    border: 4px solid #45380a;
    border-radius: 8px;
}

del {
    color: #ff0000;
}

hr {
    margin-bottom: 27px;
    margin-top: 2px;
    border: 4px solid #45380a;
}

label[for="order1"],
label[for="order2"],
label[for="order3"] {
    color: #836600;
}

a {
    text-decoration: none;
    color: #836600;
}

    a:hover {
        color: #6d0303;
    }

.link {
    padding-right: 20px;
    position: relative;
}

    .link::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 50%;
        left: -15px;
        margin-top: -5px;
        background-color: transparent;
        border: solid transparent;
        border-width: 5px 0 5px 11px; /* arrow shape */
        border-left-color: #000; /* arrow color */
    }

input[type="submit"], input[type="reset"] {
    cursor: pointer;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover {
        border: 3px solid #6d0303;
        border-radius: 8px;
        color: #6d0303;
    }

.social {
    text-align: center;
}

    .social .fac img {
        width: 35px;
        height: 35px;
    }

    .social p {
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        text-shadow: 1.5px 1.5px 2px #836600;
    }

#backtop {
    position: fixed;
    color: #000;
    background: #ffcc00;
    font-weight: inherit;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    border: solid 2px #836600;
    border-radius: 8px;
    box-shadow: 2px 1.5px 2.5px 1.5px #836600;
    opacity: 0.7;
    transition: background 0.3s;
}